<!-- signup.component.html -->
<div class="signup-container">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />
        <div  class="error" *ngIf="signupForm.get('username')?.hasError('required') && (signupForm.get('username')?.touched || signupForm.get('username')?.dirty)">
          Username is required.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" />
        <div  class="error" *ngIf="signupForm.get('email')?.hasError('required') && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)">
          Email is required.
        </div>
        <div class="error" *ngIf="signupForm.get('email')?.hasError('email') && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)">
          Invalid email address.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
        <div  class="error" *ngIf="signupForm.get('password')?.hasError('required') && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)">
          Password is required.
        </div>
        <div class="error" *ngIf="signupForm.get('password')?.hasError('minlength') && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)">
          Password must be at least 6 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" (keyup)="ConfirmPass()"/>
        <div class="error" *ngIf="signupForm.get('confirmPassword')?.hasError('required') && (signupForm.get('confirmPassword')?.touched || signupForm.get('confirmPassword')?.dirty)">
          Confirm Password is required.
        </div>
        <div *ngIf="signupForm.get('confirmPassword')?.dirty && !passwordMismatch" class="error">
          Passwords do not match.
        </div>
      </div>
      <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
      <button type="submit" routerLink="/">Login Page</button>
    </form>
  </div>
  