<div *ngIf="isLoading">
    <p class="loading">Loading...</p>
  </div>
  <div *ngIf="isError">
    <p>Error loading data.</p>
  </div>
  <div *ngIf="!isLoading && !isError" class="mainContainer">
    <ul>
      <li *ngFor="let product of products">
        <div class="product-card">
            <div class="product-image">
              <img [src]="product.thumbnail" alt="Product Thumbnail">
            </div>
            <div class="product-details">
              <h2 class="product-title">{{product.title}}</h2>
              <p class="product-description">{{product.description}}</p>
              <p class="product-price">Price: {{product.price}}</p>
              <p class="product-discount">Discount: {{product.discountPercentage}}</p>
              <p class="product-rating">Rating: {{product.rating}}</p>
              <p class="product-stock">In Stock: {{product.stock}}</p>
              <p class="product-brand">Brand: {{product.brand}}</p>
              <p class="product-category">Category: {{product.category}}</p>
            </div>
            <!-- <div class="product-thumbnails">
              <img [src]="product.images[0]" alt="Thumbnail 1">
              <img [src]="product.images[1]" alt="Thumbnail 2">
              <img [src]="product.images[2]" alt="Thumbnail 3">
            </div> -->
          </div>
          
      </li>
    </ul>
  </div>
  