<!-- login.component.html -->
<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <button type="submit">Login</button>
    </form>
    <button class="createAccount" (click)="navigateToLogin()">Create Account</button>
  </div>
  