<!-- <div class="btn-container">
  <button routerLink="/">User Registration Form</button>
  <button routerLink="list">Dynamic List Rendering</button>
  <button routerLink="restapi">Interact with a REST API</button>
</div> -->
 <div class="container"> 
  <!-- <h1>User Registration Form</h1>  -->
 <!-- <app-registration-form></app-registration-form>  -->
   <!-- <h1>Dynamic List Rendering</h1> -->
  <!-- <app-dynamic-list-rendering></app-dynamic-list-rendering>  -->
  <!-- <h1>Interact with a REST API</h1> -->
  <!-- <app-restapi></app-restapi>  -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-chat></app-chat> -->
  <router-outlet></router-outlet>
  <!-- <app-landing-page></app-landing-page> -->
</div>
